In [34]:
import pandas as pd
import numpy as np
a=pd.DataFrame(np.random.
randn(3,3),index=['a','c','h'],columns=['One','Two','Three'])
print(a)

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [33]:
a=a.reindex(['a','b','c','d','h'])
print(a)

        One       Two     Three
a  1.861898 -1.696875 -0.935008
b       NaN       NaN       NaN
c  0.430152 -0.747123  0.299975
d       NaN       NaN       NaN
h  0.319903 -0.521210 -1.153024

In [35]:
a1=a
print(a.dropna())

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [36]:
a2=a1
print(a1.fillna(0))

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [39]:
a3=a2
print(a2.fillna(method='pad'))

<ipython-input-39-b927352de9fc>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(a2.fillna(method='pad'))

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [40]:
a4=a3
print(a3.fillna(method='bfill'))

<ipython-input-40-1f554bed7946>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(a3.fillna(method='bfill'))

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [41]:
a5=a4
print(a4.bfill())

        One       Two     Three
a -0.934825  0.255733  1.162900
c -0.218448 -0.451089  0.294045
h -0.639405 -0.656339  0.295742

In [42]:
print(a['One'].isnull())

a    False
c    False
h    False
Name: One, dtype: bool

In [43]:
print(a['One'].notnull())

a    True
c    True
h    True
Name: One, dtype: bool

In [46]:
b=pd.DataFrame([[11,'vijay'],[101,'sam'],[13,'sree'],[14,'abi']],columns=['Age','Name'])
print(b)

   Age   Name
0   11  vijay
1  101    sam
2   13   sree
3   14    abi